@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #ffffffde;
    --secondary-text: "#ffffff99";
    --background: #1d222b;
    --accent: #a748ff;
    --secondary: #212631;
    --primary: #5951da;
    --primary-transparent: #5a51da36;

    --danger: #e55353;
    --success: #1b9e3e;

    --border-color: #323a49;
}
