@import url("./base.css");

body {
    min-height: 100vh;
    background-color: var(--background);
}

* {
    color: var(--text);
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

#app {
    color: #ffffffde;
    min-width: 100%;
    min-height: 100vh !important;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
}

.roboto-condensed-all * {
    font-family: "Roboto Condensed", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.roboto-all * {
    font-family: "Roboto", sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.nunito-all * {
    font-family: "Nunito", sans-serif;
}
